<nav>
  <div class="site-title">
    <a href="/"><h1>DSA Search Engine</h1></a>
    <p>Prakhar Ranjan</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact Us</a></li>
  </ul>
</nav>
