<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About Us</h2>
      <a
        >A search engine that can show relevent DSA questions from self created
        database based on the user's query search</a
      >
      <a
        >Created own database of questions using Web Scrapping using selenium
        and BeautifulSoup(Python)</a
      >
      <a>For knowing about me visit my contack page</a>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
