<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>Contact Us</h2>
      <a href="https://github.com/PrakharRanjan2909">
        <h3>Github Repository</h3>
      </a>
      <a
        ><img src="/assets/email_black_24dp.svg" alt="Email at" /> :
        rprakhar007@gmail.com</a
      >
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
